Temp/
Library/
.vs/First Person in Mars/v14/.suo
.vs/First_Person_in_Mars/v14/.suo
First Person in Mars.CSharp.Editor.csproj
First Person in Mars.CSharp.csproj
First Person in Mars.sln
First_Person_in_Mars.CSharp.Editor.csproj
First_Person_in_Mars.CSharp.csproj
First_Person_in_Mars.sln
*.apk
